[untranscribed_videos_input_adapter]
korpus_path = C:\dev\datascience-repositories\audio_korpora_pipeline\tests\resources\korpora\untranscribed_video
[common_voice_input_adapter]
#korpus_path = ./tests/resources/korpora/common_voice
korpus_path = C:\dev\datascience-repositories\audio_korpora_pipeline\tests\resources\korpora\common_voice_new
[mailabs_output_adapter]
output_path = C:\dev\datascience-repositories\audio_korpora_pipeline\tests\resources\korpora\output\mailabs
[ljspeech_output_adapter]
output_path = C:\dev\datascience-repositories\audio_korpora_pipeline\tests\resources\korpora\output\ljspeech
combine_multiple_speakers_into_one_dataset = true
[logging]
file = log.log
file_level = DEBUG
stdout_level = DEBUG
stdout_fmt = %(levelname)-8s: %(message)s   |%(pathname)s Line %(lineno)d|
file_fmt = %(asctime)s %(levelname)-8s: %(message)s   |%(pathname)s Line %(lineno)d|
